@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "游ゴシック Medium", "ヒラギノ角ゴ Pro",
    "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

h1,
p,
span {
  line-height: 120%;
}

a {
  background-color: transparent;
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

.TextLink {
  color: #646362e5;
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease; /* スムーズな変化 */

  &:hover {
    color: #333; /* ホバー時に濃い色に */
    text-decoration: underline; /* 下線を表示 */
  }

  &:visited {
    color: #8a7f7f; /* 既読リンクの色 */
  }

  &:active {
    color: #000; /* クリック時はより濃い色 */
  }

  &:focus {
    outline: 2px solid #646362e5; /* フォーカス時のアクセシビリティ向上 */
    outline-offset: 2px;
  }
}
